.tableResponsive {
  width: 100%;
  display: block;
  overflow-x: auto;
  background-color: var(--white, #FFF3E3) !important;
}

.tableResponsive::-webkit-scrollbar {
  height: 6px;
}

.tableResponsive::-webkit-scrollbar-thumb {
  background-color: var(--white, #FFF3E3) !important;
  border-radius: 10px;
}

.wrapper {
  background: var(--white, #FFF3E3) !important;
  padding: 2rem;
}

.whiteBox {
  background-color: var(--white, #FFF3E3) !important;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--text-black, #55142A) !important;
}

.searchFilterRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchBox {
  padding: 0.4rem 1rem;
  border: 1px solid var(--text-black, #55142A) !important;
  border-radius: 4px;
  width: 300px;
}

.clearIcon,
.searchIcon {
  position: absolute;
  right: 10px;
  color: #888;
  cursor: pointer;
}

.sortIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sortIcon svg {
  font-size: 32px;
  /* Only the icon gets this size */
}

.filterBtn {
  background: white;
  /* color: white; */
  border: 1px solid #ccc;
  padding: 0.4rem 1rem;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white, #FFF3E3) !important;
  min-width: 950px !important;
}

.table th {
  background-color: var(--white, #FFF3E3) !important;
  color: var(--light-black, #55142ac4) !important;
  text-align: left;
  font-size: 17px;
  border-bottom: 1px solid var(--light-black, #55142ac4) !important;
  padding: 0.6rem;
  font-weight: bold;
}

.table td {
  padding: 0.6rem;
  border: none;
  font-size: 17px;
  font-weight: 700;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  cursor: pointer;
}

.table tr:hover {
  background-color: var(--white, #FFF3E3) !important;
  /* Light gray on hover */

  transition: background-color 0.2s ease;
  cursor: pointer;
}

.paginationInfo {
  display: flex;
  align-items: center;
  font-weight: 500;

}

.paginationInfo span {
  color: var(--text-black, #55142A);
}

.dropdown {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--text-black, #55142A);
  background-color: var(--white, #FFF3E3);
  font-weight: 500;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--pagination-bg, #FFCCD5) !important;
}

.pageBtn {
  border: none !important;
  color: var(--text-black, #55142A);
  transition: 0.2s ease;
  background-color: var(--pagination-bg, #FFCCD5) !important;
}

.pageBtn:disabled {
  color: var(--light-black, #55142ac4);
  cursor: not-allowed;
}

.pageNumber {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-black, #55142A);
}

.pageBtn :global(svg) {
  background-color: var(--pagination-bg, #FFCCD5) !important;
  font-size: 25px;
  margin-left: 10px;
}

.sortIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-black, #55142A);
}

/* HTML: <div className="loader"></div> */

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(to right, #c6c7c9, #85a3d8); */
  background-color: rgba(6, 6, 6, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 150px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}