.tableResponsive {
  width: 100%;
  display: block;
  overflow-x: auto;
}

.tableResponsive::-webkit-scrollbar {
  height: 6px;
}

.tableResponsive::-webkit-scrollbar-thumb {
  background-color: var(--white, #FFF3E3);
  border-radius: 10px;
}

.wrapper {
  background: var(--white, #FFF3E3);
  padding: 2rem;
}

.whiteBox {
  background-color: var(--white, #FFF3E3);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--text-black, #55142A);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchFilterRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.table tr:hover {
  background-color: var(--white, #FFF3E3);
  /* Light gray on hover */
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.searchBox {
  padding: 0.4rem 1rem;
  border: 1px solid var(--text-black, #55142A);
  border-radius: 4px;
  width: 300px;
  background: var(--white, #FFF3E3);
}

.clearIcon,
.searchIcon {
  position: absolute;
  right: 10px;
  color: var(--text-black, #55142A);
  cursor: pointer;
}

.filterBtn {
  background: var(--white, #FFF3E3);
  border: 1px solid var(--text-black, #55142A);
  padding: 0.4rem 1rem;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white, #FFF3E3);
  min-width: 995px !important;
}

.table th {
  background-color: var(--white, #FFF3E3) !important;
  color: var(--light-black, #55142ac4) !important;
  text-align: left;
  font-size: 17px;
  border-bottom: 1px solid var(--light-black, #55142ac4) !important;
  padding: 0.6rem;
  font-weight: bold;
}

.table td {
  padding: 0.6rem;
  border: none;
  font-size: 17px;
  font-weight: 700;
}

.icons {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 1rem;
  cursor: pointer;
  height: 100%;
  margin-top: 39px;
}

.table td {
  vertical-align: middle;
}

@media (max-width: 768px) {

  .searchFilterRow {
    /* flex-direction: column; */
    align-items: flex-start;
  }


  .searchBox {
    width: 100%;
  }


  .table th,
  .table td {
    font-size: 18px;
  }
}

@media(max-width:1170px) {

  .table th {
    font-size: 14px;
  }

}

.activeRow {
  background-color: var(--white, #FFF3E3);
  /* Light gray on hover */
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-black, #55142A);
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--white, #FFF3E3);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--text-black, #55142A);
}

input:checked+.slider:before {
  transform: translateX(20px);
}

/* pagination css */

.paginationInfo {
  display: flex;
  align-items: center;
  font-weight: 500;

}

.paginationInfo span {
  color: var(--text-black, #55142A);
}

.dropdown {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--text-black, #55142A);
  background-color: var(--white, #FFF3E3);
  font-weight: 500;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(---whites, #fde6c9ff);
}

.pageBtn {
  border: none !important;
  color: var(--text-black, #55142A);
  transition: 0.2s ease;
  background-color: var(--whites, #fde6c9ff) !important;
}

.pageBtn:disabled {
  color: var(--light-black, #55142ac4);
  cursor: not-allowed;
}

.pageNumber {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-black, #55142A);
}

.pageBtn :global(svg) {
  background-color: var(--whites, #fde6c9ff) !important;
  font-size: 25px;
  margin-left: 10px;
}

.sortIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-black, #55142A);
}

.sortIcon svg {
  font-size: 32px;
  /* Only the icon gets this size */
}

.sidebarHeader {
  border-bottom: 1px solid var(--text-black, #55142A);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.customModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customModal {
  background: var(--white, #FFF3E3);
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.sidebarOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1001;
  display: flex;
  justify-content: flex-end;
}

@keyframes slideInSidebar {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar {
  background:var(--white, #FFF3E3);
  color: var(--text-black, #55142A);
  width: 590px;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: slideInSidebar 0.4s ease forwards;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 26px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  color: var(--text-black, #55142A);
}

.closeBtn:hover {
  transform: rotate(90deg) scale(1.2);
  color: #d90429;
}

.sidebarImage {
  width: 85%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--text-black, #55142A);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  animation: fadeInImage 0.4s ease forwards;
}

@keyframes fadeInImage {
  to {
    opacity: 1;
  }
}

.sidebarImage:hover {
  transform: scale(1.03);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.infoSection {
  animation: fadeInUp 0.5s ease forwards;
}


.sidebarContent {
  padding-top: 40px;
}

.infoGrid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  border-bottom: 1px solid var(--light-black);
  padding-bottom: 5px;
}

.label {
  font-weight: 600;
  color: var(--text-black, #55142A);
  flex: 1;
}

.value {
  color: var(--text-black, #55142A);
  flex: 1;
  text-align: right;
  word-break: break-word;
}

.descriptionBox {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--pagination, #fde6c9ff);
  border-left: 4px solid  rgb(254, 196, 125);
  border-radius: 4px;
}

.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.carouselBtn {
  font-size: 24px;
  border: none;
  background: var(--white, #FFF3E3);
  cursor: pointer;
  color: var(--text-black, #55142A);
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* Makes it circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Adds subtle shadow */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.carouselBtn:hover {
  background-color: var(--text-black, #55142A);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* Slightly stronger shadow on hover */
}


.sidebarImage {
  width: 85%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--text-black, #55142A);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {

 background: var(--white, #FFF3E3);
  padding: 20px 25px;
  border-radius: 10px;
  width: 44%;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
}


.btnPrimary {
  background:var(--text-black, #55142A);
  color:var(--white, #FFF3E3);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnSecondary {
  background-color: #676869;
  color: var(--white, #FFF3E3);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.DatePicker {
  width: 300px;
  padding: 5px 4px;
  border-radius: 5px;
  margin: 10px 0;
}

/* HTML: <div className="loader"></div> */

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(to right, #c6c7c9, #85a3d8); */
  background-color: rgba(6, 6, 6, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 150px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}