.table-responsive {
  width: 100%;
  display: block;
  overflow-x: auto;
}

.table-responsive::-webkit-scrollbar {
  height: 6px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: var(--white, #FFF3E3);
  border-radius: 10px;
}

.orderManagement {
  padding: 20px;
  background-color: var(--white, #FFF3E3);
  /* light gray background */
  /* border-radius: 10px; */
}

/* Tabs */
.tabs {
  gap: 20px;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--text-black, #55142aa7);
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 500;
  color: var(--text-black, #55142A) !important;
  ;
  text-align: center;
  position: relative;
  /* Important */
  transition: all 0.3s ease;

}

.tab::first-letter {
  text-transform: uppercase;
}

.activeTab {
  color: var(--text-black, #55142A) !important;
  font-weight: 700;
  /* border-bottom: 7px solid #000; */
}

.activeUnderline {
  position: absolute;
  bottom: 0;
  left: 7%;
  right: 20%;
  height: 6px;
  width: 100%;
  background-color: var(--text-black, #55142A);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Search Box */
.searchFilterRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.searchBox {
  padding: 0.4rem 1rem;
  border: 1px solid var(--text-black, #55142A);
  border-radius: 4px;
  width: 300px;
  background: var(--white, #FFF3E3);
}

.filterBtn {
  background: var(--white, #FFF3E3);
  /* color: white; */
  border: 1px solid var(--text-black, #55142A);
  padding: 0.4rem 1rem;
  border-radius: 4px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;

}

.clearIcon,
.searchIcon {
  position: absolute;
  right: 10px;
  color: var(--text-black, #55142A);
  cursor: pointer;
}

/* Table */
.orderTable {
  background-color: var(--white, #FFF3E3) !important;
  border-radius: 8px;
  overflow: hidden;
}

.orderTable th {
  background-color: var(--white, #FFF3E3) !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--light-black, #55142ac4) !important;
}

.orderTable td {
  vertical-align: middle;
  font-size: 15px;
}

.orderTable tr:hover {
  background-color: var(--text-blacks, #55142a6b) !important;
}

/* Responsive */
@media (max-width: 768px) {
  .tabs {
    justify-content: center;
  }

  .searchBox {
    width: 100%;
  }

  .orderTable {
    font-size: 12px;
  }
}

.tabdropdown {
  width: 57%;
  background-color: var(--white, #FFF3E3);
  border: 1px solid rgba(0, 0, 0, 0.486);
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  color: var(--text-black, #55142A);
}

.pendingdetail {
  font-weight: bolder;

}


.orderItemsSection {
  /* margin-top: 20px; */
  padding: 0px 20px;
  /* background: ; */
  border-radius: 10px;
}

/* Table Styles */
.itemTable {
  background: var(--white, #FFF3E3);
  border-radius: 8px;
  overflow: hidden;
}

.itemTable thead th {
  /* background-color:; */
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
}

.itemTable tbody td {
  padding: 15px;
  vertical-align: middle;
  font-size: 15px;
}

/* Specific Column Styling */
.itemName {
  font-weight: bold;
  color: #333;
  /* width: 100px; */
}

.itemAddress {
  font-size: 13px;
  color: #555;
  width: 500px;
}

/* Responsive */
@media (max-width: 768px) {
  .itemTable thead {
    display: none;
  }

  .itemTable,
  .itemTable tbody,
  .itemTable tr,
  .itemTable td {
    display: block;
    width: 100%;
  }

  .itemTable tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
  }

  .itemTable td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  .itemTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    font-weight: bold;
    text-align: left;
  }
}

.orders {
  background-color: var(--white, #FFF3E3);
  border-radius: 5px;
  padding: 20px 10px;
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.activeRow {
  background-color: var(--hover-gray) !important;
  color: var(--text-black, #55142A) !important;
  /* Optional: Change text color for better contrast */
}

@media(max-width:1250px) {
  .tabdropdown {
    width: 70%;
  }
}

@media(max-width:970px) {
  .tabdropdown {
    width: 100%;
  }
}



@media (max-width: 992px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .orderTable {
    min-width: 950px;
    /* enough width to cause horizontal scroll */
    white-space: nowrap;
  }
}


/* pagination css */

.paginationInfo {
  display: flex;
  align-items: center;
  font-weight: 500;

}

.paginationInfo span {
  color: var(--text-black, #55142A);
}

.dropdown {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--text-black, #55142A);
  background-color: var(--white, #FFF3E3);
  font-weight: 500;
}

.paginationControls {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(---whites, #fde6c9ff);
}

.pageBtn {
  border: none !important;
  color: var(--text-black, #55142A);
  transition: 0.2s ease;
  background-color: var(--whites, #fde6c9ff) !important;
}

.pageBtn:disabled {
  color: var(--light-black, #55142ac4);
  cursor: not-allowed;
}

.pageNumber {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-black, #55142A);
}

.pageBtn :global(svg) {
  background-color: var(--whites, #fde6c9ff) !important;
  font-size: 25px;
  margin-left: 10px;
}

.sortIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-black, #55142A);
}

.sortIcon svg {
  font-size: 32px;
  /* Only the icon gets this size */
}

.dropdownFilter {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
 background: var(--white, #FFF3E3);
  padding: 20px 25px;
  border-radius: 10px;
  width: 44%;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
}


.btnPrimary {
  background: var(--text-black, #55142A);
  color: var(--white, #FFF3E3);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnSecondary {
  background-color: #676869;
  color: var(--white, #FFF3E3);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.DatePicker {
  width: 300px;
  padding: 5px 4px;
  border-radius: 5px;
  margin: 10px 0;
}

/* HTML: <div className="loader"></div> */

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(to right, #c6c7c9, #85a3d8); */
  background-color: rgba(6, 6, 6, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 150px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}